  @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');

body {
  background: #eee;
  padding: 40px 0px;
}

/*$card-size: 400px;
$image-size: 100%;
$image-height: 250px;*/


.card {
  width: 400px !important;
  margin:0px auto;
  
  background-color: #d05c62 !important;
  box-shadow: 0px 5px 20px #555;
 
  a {
   color: #333;
  text-decoration:none;
  }

  a:hover {
    text-decoration:none;
    list-style: none;
  }
  
  &:hover {  
    .card-image {
      img {
         width: $image-size+10%;
         filter:grayscale(0);
      }  
    }
  }
  
}

.card-image {

  height: 380px;
  
  position:relative;
  overflow:hidden;
  
  img {
    width: 15px;
    
    position:absolute;
    transform: translate(-50%, -50%);
    
    filter: grayscale(1);
    
    transition-property: filter width;
    transition-duration: .3s; 
  }
 
}

.card-body {
  text-align:center; 
  padding: 15px 20px; 
  box-sizing: border-box;
}

.card-date {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-title, .card-exceprt {
   font-family: 'Playfair Display', serif;
}

.card-date, .card-title {
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
}

.card-date, .card-excerpt {
  color: #eee;
}

